@keyframes FadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes SlideInFromLeftAnimation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes SlideInFromRightAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}