@import "./flex.scss";
@import "./theme.scss";
@import "./animations.scss";

/* width */
::-webkit-scrollbar {
    width: 0.25em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.5);
}
// global styles
.bold {
    font-weight: bolder;
}
.background-white {
    background-color: #ffffff;
}
.background-light-grey {
    background-color: $light-grey-background;
}
.background-dark-grey {
    background-color: $dark-grey-background;
}
.center {
    text-align: center;
}
.color-white {
    color: #ffffff;
}
.component-spacing {
    margin: 1em 0;
}
.cursor-crosshair {
    cursor: crosshair;
}
.fade {
    opacity: 0.7;
}
.hide {
    display: none;
    visibility: "hidden";
}
.page-title {
    font-weight: bolder!important;
    font-size: 140%!important;
    text-transform: uppercase;
}
.page-sub-title {
    @extend .page-title;
    font-weight: 600!important;
    font-size: 120%!important;
}
.page-title-spacing {
    margin: 1.5em 0!important;
}
.paper {
    border-top: 3px solid $primary;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px;
}
button.white-button {
    background-color: #ffffff;
    color: #000000;
    &:hover {
        background-color: rgba(255,255,255,0.1);
    }
}

* {
    -webkit-font-smoothing: subpixel-antialiased;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #e0e0e0;
    margin: 0;
}

#root {
    height: 100%;
    @extend .flex;
    @extend .column;
    & > :last-child {
        overflow: auto;
        @extend .grow;
        & > :first-child {
            margin: 8px;
            @media only screen and (min-width: 1200px){
                margin: 8px auto;
                max-width: 1200px;
            }
            @media only screen and (min-width: 1600px){
                max-width: 80%;
            }
        }
    }
}