@import "./flex.scss";
@import "./theme.scss";

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

#root {
    height: 100%;
    @extend .flex;
    @extend .column;
    & > :last-child {
        padding: $spacing;
        @extend .grow;
    }
}