@import "./flex.scss";
@import "./theme.scss";

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #e0e0e0;
    margin: 0;
}

#root {
    height: 100%;
    @extend .flex;
    @extend .column;
    & > :last-child {
        padding: $spacing;
        @extend .grow;
    }
    // global styles
    .bold {
        font-weight: bolder;
    }
    .paper-border-top {
        border-top: 3px solid $primary;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}